[[source]]
url = "https://pypi.org/simple"
verify_ssl = true
name = "pypi"

[packages]
gunicorn = "*"
django-heroku = "*"
numpy = "*"
django-favicon = "*"
libsass = "*"
django-compressor = "*"
django-sass-processor = "*"
django-libsass = "*"

[dev-packages]

[requires]
python_version = "3.6"
