/* line 3, solver/static/solver/styles/result.scss */
body {
  background-color: #dff9fb;
  display: flex;
  flex-flow: column;
  justify-content: center; }

/* line 10, solver/static/solver/styles/result.scss */
article {
  min-width: 750px;
  background: #FAFAFA;
  padding: 30px;
  margin: 50px auto 100px auto;
  box-shadow: 1px 1px 25px rgba(0, 0, 0, 0.35);
  border-radius: 10px;
  border: 6px solid #305A72;
  display: flex;
  flex-flow: column;
  justify-content: center; }
  /* line 22, solver/static/solver/styles/result.scss */
  article h1 {
    font: 16px Arial, Helvetica, sans-serif;
    font-size: 1.7em;
    font-weight: bold;
    text-align: center; }
  /* line 29, solver/static/solver/styles/result.scss */
  article table {
    padding: 10px 40px;
    border: 3px solid rgba(52, 152, 219, 0.4);
    border-radius: 8px;
    background-color: rgba(236, 240, 241, 0.3); }
    /* line 35, solver/static/solver/styles/result.scss */
    article table th {
      border-bottom: 2px dashed rgba(52, 152, 219, 0.4);
      border-top: 2px dashed rgba(52, 152, 219, 0.4); }
    /* line 40, solver/static/solver/styles/result.scss */
    article table thead tr {
      border: 2px dashed rgba(52, 152, 219, 0.4); }
    /* line 44, solver/static/solver/styles/result.scss */
    article table tbody tr:last-child td {
      border-top: 2px dashed rgba(52, 152, 219, 0.4); }
    /* line 48, solver/static/solver/styles/result.scss */
    article table tr:last-child td:nth-last-child(3) {
      border-left: none; }
    /* line 52, solver/static/solver/styles/result.scss */
    article table tr:last-child td:nth-last-child(2) {
      border-left: 2px dashed rgba(52, 152, 219, 0.4); }
    /* line 56, solver/static/solver/styles/result.scss */
    article table td, article table th {
      padding: 8px;
      text-align: center; }
    /* line 61, solver/static/solver/styles/result.scss */
    article table td:nth-child(2), article table th:nth-child(2) {
      border-right: 2px dashed rgba(52, 152, 219, 0.4); }
    /* line 65, solver/static/solver/styles/result.scss */
    article table td:nth-last-child(3), article table th:nth-last-child(3) {
      border-left: 2px dashed rgba(52, 152, 219, 0.4); }

/* line 71, solver/static/solver/styles/result.scss */
section > div {
  font: 16px Arial, Helvetica, sans-serif;
  margin: 20px; }
  /* line 75, solver/static/solver/styles/result.scss */
  section > div:last-child {
    text-align: center;
    font-size: 1.3em;
    font-style: italic; }

/* line 82, solver/static/solver/styles/result.scss */
section > p {
  font: 16px Arial, Helvetica, sans-serif;
  margin-top: 20px;
  text-align: center;
  font-size: 1.3em;
  font-style: italic; }

/* line 90, solver/static/solver/styles/result.scss */
.frac {
  display: inline-block;
  position: relative;
  vertical-align: middle;
  letter-spacing: 0.001em;
  text-align: center;
  margin: 3px; }
  /* line 98, solver/static/solver/styles/result.scss */
  .frac span.bottom {
    border-top: thin solid black; }
  /* line 102, solver/static/solver/styles/result.scss */
  .frac span.symbol {
    display: none; }
  /* line 106, solver/static/solver/styles/result.scss */
  .frac > span {
    display: block;
    padding: 0.1em; }
