/* line 4, solver/static/solver/styles/result.scss */
body {
  background-color: #dff9fb;
  display: flex;
  flex-flow: column;
  justify-content: center; }

/* line 11, solver/static/solver/styles/result.scss */
article {
  min-width: 750px;
  background: #FAFAFA;
  padding: 30px;
  margin: 50px auto 100px auto;
  box-shadow: 1px 1px 25px rgba(0, 0, 0, 0.35);
  border-radius: 10px;
  border: 6px solid #305A72;
  display: flex;
  flex-flow: column;
  justify-content: center; }
  /* line 23, solver/static/solver/styles/result.scss */
  article h1 {
    font: 16px Arial, Helvetica, sans-serif;
    font-size: 1.7em;
    font-weight: bold;
    text-align: center; }
  /* line 30, solver/static/solver/styles/result.scss */
  article table {
    padding: 30px 40px;
    border: 3px solid rgba(52, 152, 219, 0.4);
    border-radius: 8px;
    background-color: rgba(236, 240, 241, 0.3);
    border-spacing: 0; }
    /* line 37, solver/static/solver/styles/result.scss */
    article table th {
      border-bottom: 2px solid rgba(52, 152, 219, 0.4); }
    /* line 42, solver/static/solver/styles/result.scss */
    article table thead tr td {
      border-bottom: 2px solid rgba(52, 152, 219, 0.4); }
    /* line 46, solver/static/solver/styles/result.scss */
    article table thead th:first-child, article table tbody td:first-child {
      border-right: 2px solid rgba(52, 152, 219, 0.4); }
    /* line 50, solver/static/solver/styles/result.scss */
    article table thead tr:first-child td:nth-last-child(2) {
      border-left: 0; }
    /* line 55, solver/static/solver/styles/result.scss */
    article table tbody tr:nth-last-child(2) td:first-child, article table tbody tr:last-child td:first-child {
      border-right: 0; }
    /* line 58, solver/static/solver/styles/result.scss */
    article table tbody tr:nth-last-child(2) td:nth-last-child(2), article table tbody tr:last-child td:nth-last-child(2) {
      border-left: 0; }
    /* line 63, solver/static/solver/styles/result.scss */
    article table tbody tr:nth-last-child(2) td {
      border-top: 2px solid rgba(52, 152, 219, 0.4); }
    /* line 67, solver/static/solver/styles/result.scss */
    article table > tr:first-child td {
      border-bottom: 2px solid rgba(52, 152, 219, 0.4); }
    /* line 71, solver/static/solver/styles/result.scss */
    article table tr:nth-last-child(2) td:nth-last-child(3) {
      border-left: none; }
    /* line 75, solver/static/solver/styles/result.scss */
    article table tr:nth-last-child(2) td:last-child {
      border-top: none; }
    /* line 79, solver/static/solver/styles/result.scss */
    article table tr:nth-last-child(2) td:nth-last-child(3) {
      border-left: 2px solid rgba(52, 152, 219, 0.4); }
    /* line 83, solver/static/solver/styles/result.scss */
    article table td, article table th {
      padding: 8px;
      text-align: center; }
    /* line 88, solver/static/solver/styles/result.scss */
    article table td:nth-child(2), article table th:nth-child(2) {
      border-right: 2px solid rgba(52, 152, 219, 0.4); }
    /* line 92, solver/static/solver/styles/result.scss */
    article table td:nth-last-child(3), article table th:nth-last-child(3) {
      border-left: 2px solid rgba(52, 152, 219, 0.4); }
    /* line 96, solver/static/solver/styles/result.scss */
    article table th:nth-last-child(2), article table td:nth-last-child(2) {
      border-left: 2px solid rgba(52, 152, 219, 0.4); }
    /* line 100, solver/static/solver/styles/result.scss */
    article table tr:last-child td {
      border-top: 2px solid rgba(52, 152, 219, 0.4); }
  /* line 105, solver/static/solver/styles/result.scss */
  article span {
    font-size: 1.2em;
    position: relative;
    top: -2px; }

/* line 112, solver/static/solver/styles/result.scss */
section > div {
  font: 16px Arial, Helvetica, sans-serif;
  margin: 30px 20px 0 20px; }
  /* line 116, solver/static/solver/styles/result.scss */
  section > div:last-child {
    text-align: center;
    font-size: 1.3em;
    font-style: italic; }

/* line 123, solver/static/solver/styles/result.scss */
.frac {
  display: inline-block;
  position: relative;
  vertical-align: middle;
  letter-spacing: 0.001em;
  text-align: center;
  margin: 3px; }
  /* line 131, solver/static/solver/styles/result.scss */
  .frac span {
    font-size: 0.85em; }
  /* line 135, solver/static/solver/styles/result.scss */
  .frac span.bottom {
    border-top: thin solid black; }
  /* line 139, solver/static/solver/styles/result.scss */
  .frac span.symbol {
    display: none; }
  /* line 143, solver/static/solver/styles/result.scss */
  .frac > span {
    display: block;
    padding: 0.1em; }

/* line 149, solver/static/solver/styles/result.scss */
.empty-row {
  display: none; }

/* line 152, solver/static/solver/styles/result.scss */
.empty-cell {
  display: block;
  padding: 0;
  width: 0;
  border: 0; }
