/* line 2, solver/static/solver/result.scss */
body {
  background-color: #dff9fb;
  display: flex;
  flex-flow: column;
  justify-content: center; }

/* line 9, solver/static/solver/result.scss */
article {
  min-width: 750px;
  background: #FAFAFA;
  padding: 30px;
  margin: 50px auto 100px auto;
  box-shadow: 1px 1px 25px rgba(0, 0, 0, 0.35);
  border-radius: 10px;
  border: 6px solid #305A72;
  display: flex;
  flex-flow: column;
  justify-content: center; }
  /* line 21, solver/static/solver/result.scss */
  article h1 {
    font-size: 1.7em;
    font-weight: bold;
    text-align: center; }

/* line 28, solver/static/solver/result.scss */
section > div, h1 {
  font: 16px Arial, Helvetica, sans-serif; }

/* line 36, solver/static/solver/result.scss */
section > div:nth-last-child(2), section > div:last-child {
  text-align: center;
  font-size: 1.3em;
  font-style: italic; }

/* line 42, solver/static/solver/result.scss */
article table {
  padding: 10px 40px;
  border: 3px solid rgba(52, 152, 219, 0.4);
  border-radius: 8px;
  background-color: rgba(236, 240, 241, 0.3); }

/* line 49, solver/static/solver/result.scss */
article table th {
  border-bottom: 2px dashed rgba(52, 152, 219, 0.4);
  border-top: 2px dashed rgba(52, 152, 219, 0.4); }

/* line 54, solver/static/solver/result.scss */
article table tbody tr:last-child td {
  border-top: 2px dashed rgba(52, 152, 219, 0.4); }

/* line 58, solver/static/solver/result.scss */
article table thead tr {
  border: 2px dashed rgba(52, 152, 219, 0.4); }

/* line 62, solver/static/solver/result.scss */
article table td:nth-child(2), article table th:nth-child(2) {
  border-right: 2px dashed rgba(52, 152, 219, 0.4); }

/* line 66, solver/static/solver/result.scss */
article table td:nth-last-child(3), article table th:nth-last-child(3) {
  border-left: 2px dashed rgba(52, 152, 219, 0.4); }

/* line 70, solver/static/solver/result.scss */
article table tr:last-child td:nth-last-child(3) {
  border-left: none; }

/* line 74, solver/static/solver/result.scss */
article table tr:last-child td:nth-last-child(2) {
  border-left: 2px dashed rgba(52, 152, 219, 0.4); }

/* line 78, solver/static/solver/result.scss */
article table td, article table th {
  padding: 8px;
  text-align: center; }

/* line 83, solver/static/solver/result.scss */
section > div {
  margin: 20px; }

/* line 87, solver/static/solver/result.scss */
.frac {
  display: inline-block;
  position: relative;
  vertical-align: middle;
  letter-spacing: 0.001em;
  text-align: center;
  margin: 3px; }

/* line 96, solver/static/solver/result.scss */
.frac > span {
  display: block;
  padding: 0.1em; }

/* line 101, solver/static/solver/result.scss */
.frac span.bottom {
  border-top: thin solid black; }

/* line 105, solver/static/solver/result.scss */
.frac span.symbol {
  display: none; }
