{% load static %}
<!DOCTYPE html>
<html>
<head>
	<title>ЛінОпт | Розв'язання задачі лінійного програмування</title>
	<link rel="stylesheet" type="text/css" href="{% static 'solver/index.css' %}">
	<link rel="icon" type="image/png" href="{% static 'images/favicon.ico' %}">
</head>
<body>
	<form action="{% url 'solver:result' %}" method="get">
	    <ul>
	        <li>
	            <textarea name="input_text" class="field-style" placeholder="Введіть умову задачі">
					-x[1]+x[2]=>max
					|x[2]>=0
					|x[1]-4x[2]>=-2
					|x[1]+x[2]=-2
					x[1]<=5
				</textarea>
	        </li>
	        <li>
	            <input type="submit" class="align-right" value="Розв'язати" />
	        </li>
	    </ul>
	</form>
</body>
</html>