{% load static %}
{% load compress %}
<!DOCTYPE html>
<html>
<head>
	<title>ЛінОпт | Розв'язання задачі лінійного програмування</title>
	<link rel="icon" type="image/png" href="{% static 'images/favicon.ico' %}">
	{% compress css %}
	    <link rel="stylesheet" type="text/x-scss" href="{% static 'solver/index.scss' %}" />
	{% endcompress %}
</head>
<body>
	<form action="{% url 'solver:result' %}" method="get">
	    <ul>
	    	<li>
	    		<h1>Сервіс вирішення задач лінійного програмування</h1>
	    	</li>
	        <li>
	            <textarea name="input_text" class="field-style" placeholder="Введіть умову задачі">-x[1]+x[2]=>max&#13;&#10;|x[2]>=0&#13;&#10;|x[1]-4x[2]>=-2&#13;&#10;|x[1]+x[2]=-2&#13;&#10;x[1]<=5</textarea>
	        </li>
	        <li>
	            <input type="submit" class="align-right" value="Розв'язати" />
	        </li>
	    </ul>
	</form>
</body>
</html>